* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
.background {
    background-color: #f05334;
    padding: 50px;
    position: fixed;
    width: 100%;
}
.logo-image {
    display: inline;
    text-align: left;
}
.logo {
    width: 3%;
    float: left;
    position: relative;
    left: 120px;
    top: 10px;
}
.navbar {
    float:right;
    position: relative;
    top: 15px;
    right: 90px;
    display: inline-block;
}
.navbar-link {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}
.container {
    margin: 0 100px;
}
.image {
    width: 100%;
    border-bottom: #cd6a57 solid 15px;
}
.first-heading {
    margin-left: 30px;
    line-height: 60px;
    font-size: x-large;
    margin: 20px 100px;
}
.about-title {
    color: #f05334;
    text-align: center;
}
.main-paragragh {
    text-align: justify;
}
.except {
    font-style: italic;
}
.ingredient {
    color: #f05334;
}
