* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
.background {
    background-color: #f05334;
    padding: 15px 0;
    position: fixed;
    width: 100%;
}
.logo-image {
    display: inline;
    text-align: left;
}
.logo {
    width: 3%;
    float: left;
    position: relative;
    left: 120px;
    top: 10px;
}
.navbar {
    float:right;
    position: relative;
    top: 15px;
    right: 90px;
    display: inline-block;
}
.navbar-link {
    margin-left: 10px;
    color: white;
    text-decoration: none;
}
.container {
    margin: 0 100px;
}
.image {
    width: 100%;
    border-bottom: #f05334 solid 15px;
}
.first-heading {
    margin-left: 30px;
    line-height: 60px;
    font-size: x-large;
    margin: 20px 100px;
}
.about-title {
    color: #f05334;
    text-align: center;
}
.main-paragragh {
    text-align: justify;
}
.except {
    font-style: italic;
}
.ingredient {
    color: #f05334;
}
.prepare-container {
    background-color: #f05334;
    padding: 30px 50px;
    text-align: center;
    color: white;
}
.subscribe-container {
    padding: 40px;
    text-align: center;
    font-size: large;
    line-height: 40px;
}
.subscribe-container input.email {
    margin: 20px;
    border: none;
    border-bottom: #f05334 solid 2px;
    font-size: x-large;
}
.subscribe-container input.btn {
    border: none;
    margin-top: 20px;
    padding: 10px;
    /*font-size: x-large; */
    background-color: #f05334;
    color: white;
    box-shadow: 1px 1px 2px black;
}
.footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    text-decoration: underline;
}

