* {
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
.background {
    background-color: #f05334;
    padding: 30px;
}
.logo {
    width: 2%;
    position: relative;
    bottom: 45px;
    left: 200px;
}
.navbar {
    position: relative;
    bottom: 70px;
    left: 900px;
    color: white;
.navbar-link {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}
}
.african-salad {
    position: relative;
    text-align: center;
    border-bottom: 10px;
    width: 100%;
    margin-right: 10%;
    margin-top: 0%;
}
.first-heading {
    text-align: center justify;
}
.Description {
    color: #f05334;
    text-align: center;
}
.main-paragragh {
    line-height: 30PX;
}
.second-heading {
}
.list {
    color: #f05334;
}
.prepare-now [
    
]